table.mat-elevation-z8 {
    width: 100%;
}

.mat-header-cell {
  font-size: 21px!important;background-color: lightpink!important;color:black!important;
}

.mat-row:nth-child(even){
  background-color: darkolivegreen;
}
      
.mat-row:nth-child(odd){
  background-color: grey;
}

label.Filtering{
  font-size: 25px;
}

legend.Filtering{
  font-size: 18px;
}

.mat-button{
  font-size: 25px;
}


.element-row {
  position: relative;
  overflow: initial;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}

